appdirs==1.4.4
bagit==1.8.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorclass==2.2.2
cryptography==42.0.8
docopt==0.6.2
globus-sdk==3.42.0
hvac==2.3.0
idna==3.7
packaging==24.1
pip-upgrader==1.4.15
pycparser==2.22
pyhcl==0.4.5
pyinstaller==6.2.0
PyJWT==2.8.0
PyNaCl==1.5.0
pyparsing==3.1.2
python-magic==0.4.27
pytz==2023.3
PyYAML==6.0.1
pyzmq==26.0.3
requests==2.32.2
terminaltables==3.1.10
types-cryptography==3.3.23.2
typing-extensions==4.12.2
urllib3==2.2.2