<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <style>
    @import url("../theme/colors.css");  

    .navbar-fixed-bottom{
      background: var(--footer-backgroud); 
    }

    .navbar-text p{
      font-size: small; 
      color:  var(--footer-text-color);
    }
  </style>
</head>

<body>
<!-- Footer -->
<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-text" style="width:100%">
      <p style="float:left;" data-i18n="app-footer-copyright"></p>
      <p style="float:right;" data-i18n="app-footer-version"></p>
    </div>
  </div>
</div>
<!-- Footer -->

</body>

</html>