<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <style>
    @import url("../theme/colors.css");  

    .fixed-bottom{
      background: var(--footer-background); 
    }

    .navbar-text p{
      font-size: small; 
      color:  var(--footer-text-color);
    }
  </style>
</head>

<body>
<!-- Footer -->
<div class="navbar fixed-bottom">
  <div class="container">
    <div class="navbar-text" style="width:100%">
      <p class="float-sm-left" data-i18n="app-footer-copyright"></p>
      <p class="float-sm-right" data-i18n="app-footer-version"></p>
    </div>
  </div>
</div>
<!-- Footer -->

</body>

</html>