<!DOCTYPE html>
<html lang="en" dir="ltr">

<body>
  <nav class="navbar navbar-dark sticky-top navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="../pages/home.html"><span class="navbar-highlight"><img src="../resources/icon.png" id="brandlogo" alt="FRDR Encryption App"></span></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
          <a id="contactus" href="#" class="d-md-flex text-center" data-i18n="app-navbar-contact-us"></a>
          </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a href="#" id="account-dropdown" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a href="../pages/profile.html" data-i18n="app-navbar-account-profile"></a></li>
              <li role="separator" class="dropdown-divider"></li>
              <li class="dropdown-item"><a id="logout" href="#" data-i18n="app-navbar-account-logout"></a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a href="../pages/encrypt.html" class="d-md-flex text-center" data-i18n="app-navbar-encrypt"></a>
          </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a href="../pages/decrypt.html" class="d-md-flex text-center" data-i18n="app-navbar-decrypt"></a>
          </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a href="../pages/grant-access.html" class="d-md-flex text-center" data-i18n="app-navbar-grant-access"></a>
          </li>
        </ul>

        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a href="#" id="locale-dropdown" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
            <ul class="dropdown-menu dropdown-menu-right" id="locale-menu" role="menu">
              <li class="dropdown-item"><a class="lang-switch" href="#" data-locale="en" data-i18n="app-navbar-locale-english"></a></li>
              <li class="dropdown-item"><a class="lang-switch" href="#" data-locale="fr" data-i18n="app-navbar-locale-french"></a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <script src="../renderer_process/logout.js" charset="utf-8"></script>
  <script src="../renderer_process/contactus.js" charset="utf-8"></script>
  <script src="../assests/js/jquery_i18n/app.js"></script>

</body>

</html>