@import url("../../theme/colors.css");
/*Any change made here should probably also get made in the frdr_docs and frdr_discovery versions of frdr.css*/

.btn-login {
    background-color: #3B5998;
    color: white;
  }

.navbar-collapse {
    border-color: var(--navbar-collapse-border);
    box-shadow: var(--box-shadow);
    color: var(--navbar-collapse);
    max-height: 390px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:active {
    color: var(--navbar-background) !important;
    background-color: var(--white);
    text-decoration: underline;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    border-color: var(--navbar-open-focus-border);
    background-color: var(--navbar-open-focus-background);
    color: var(--navbar-open-focus) !important;
    border-radius: 0px;
    border: none;
}

.navbar-nav > li > a {
  -moz-box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    font-weight: 300;
    line-height: 17px;
    margin: 0 4px;
    padding: 8px 15px;
}

.navbar {
    border-color: var(--navbar-background);
}

.navbar-header > a{
    margin-top: 0px;
    margin-bottom: 0px;
}

/* .navbar .navbar-nav > .active > a {
    background-color: #01FF00;
    color: #FF0001;
} */

/* .navbar-nav > li > a:hover {
    background: none repeat scroll 0 0 #2882bb;
} */

.navbar-brand {
    padding-top: 10px;
}

.navbar-brand,
.navbar-nav > li > a {
    color: var(--navbar-brand);
    font-weight: 300;
    line-height: 23px;
    font-size:15px;
    border: none;
}

.navbar-inverse {
    background-color: var(--navbar-background);
    border-color: var(--navbar-background);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
    border-top:4px solid var(--navbar-caret-hover);
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top:4px solid var(--navbar-caret);
}

.navbar-inverse .navbar-brand {
    color: var(--navbar-brand);
    font-weight: 400;
    line-height: 23px;
    font-size: 24px;
    letter-spacing: 2px;
    border:none;
}

.navbar-inverse .navbar-nav > li > a {
    color: var(--navbar-nav);
    font-weight: 300;
    line-height: 23px;
    font-size: 15px;
    border:none;
}

.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
    border-radius: 0;
}

.navbar-highlight {
    color: var(--navbar-highlight)
}

body { padding-top: 70px; }